<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
      <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
      <link href="/stylesheets/price-range.css" rel="stylesheet">
      <link href="/stylesheets/animate.css" rel="stylesheet">
      <link href="/stylesheets/main.css" rel="stylesheet">
      <link href="/stylesheets/responsive.css" rel="stylesheet">
      <link href="/stylesheets/sb-admin.css" rel="stylesheet">
      <link rel="shortcut icon" href="/images/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
  {{> header}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <div class="container">
      {{{body}}}
  </div>
  {{> footer }}
  <script src="/javascripts/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="/javascripts/html5shiv.js"></script>
  <script src="/javascripts/respond.min.js"></script>
  <![endif]-->
  <script src="/javascripts/jquery.scrollUp.min.js"></script>
  <script src="/javascripts/price-range.js"></script>
  <script src="/javascripts/jquery.prettyPhoto.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/vendor/popper/popper.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for this template -->
  <script src="/javascripts/sb-admin.min.js"></script>

  </body>
</html>
